<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="at.tecs.smartpos_demo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application android:allowBackup="true"
        android:testOnly="false"
        android:label="@string/app_name"
        android:icon="@drawable/tecs_icon_ecr"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tx_settings.TransactionSettingsActivity" />
        <activity android:name=".history_list.HistoryListActivity" />
        <activity android:name=".tx_history.TransHistoryActivity" />
        <activity android:name=".settings.SettingsActivity" />
        <activity android:name=".smartpos_controller.SmartPOSControllerActivity" />
    </application>
</manifest>
